ul{
    display: flex;
    list-style: none;
    padding: 1em;
    
    box-shadow: 2px 2px 10px lightgray;
}
li{
    margin:0 1em ;
    font-size: 1.8rem;
    color: red;
    text-decoration: none;
}
a{
    text-decoration: none;
}